@use "reset" as *;

#index {
  text-align: center;
  background-color: #283149;

  h1 {
    color: #dbedf3;
    font-family: cursive;
    font-size: 4rem;
    text-shadow: 3px 0 #da0463;
  }

  .set {
    margin: 10% auto;

    .drum {
      outline: none;
      border: 10px solid #404B69;
      font-size: 5rem;
      font-family: cursive;
      line-height: 2;
      font-weight: 900;
      color: #DA0463;
      text-shadow: 3px 0 #DBEDF3;
      border-radius: 15px;
      display: inline-block;
      width: 150px;
      height: 150px;
      text-align: center;
      margin: 10px;
    }
    
    .w {
      background: #fff url('../images/drums/tom1.png') no-repeat center;
      background-size: contain;
    }
    
    .a {
      background: #fff url('../images/drums/tom2.png') no-repeat center;
      background-size: contain;
    }
    
    .s {
      background: #fff url('../images/drums/tom3.png') no-repeat center;
      background-size: contain;
    }
    
    .d {
      background: #fff url('../images/drums/tom4.png') no-repeat center;
      background-size: contain;
    }
    
    .j {
      background: #fff url('../images/drums/snare.png') no-repeat center;
      background-size: contain;
    }
    
    .k {
      background: #fff url('../images/drums/crash.png') no-repeat center;
      background-size: contain;
    }
    
    .l {
      background: #fff url('../images/drums/kick.png') no-repeat center;
      background-size: contain;
    }
  }

  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #dbedf3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }

  footer {
    position: fixed;
    bottom: 1%;
    left: 1%;
    margin-top: 5%;
    text-align: center;

    a {
      color: #dbedf3;
      font-family: sans-serif;
    }
  }
}
